
body{
    font-family: "Adobe Arabic";
    font-size: 170%;
}
.input{
    width: 30%;
	margin-left: 30%;
	margin-top: 20%;
	margin-bottom: 50%;
    background-color: #4F2D7F;
}

.in{
    height: 100%;
    width: 90%;
	font-size: 150%;
    margin-left: 5%;
}

.button{
    width: auto;
	font-size: 100%;
	margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 5%;
}

.header{
    top: 0;
	font-size: 300%;
	color: #FAFAFA;
}

#logo{
    margin: 2%;
}

.info{
    width: 50%;
}

#home_table{
    left-margin: 1mm;
}

#home_table tr td{
    width: 20%;
}

body{
    background-color: #444444;
}

label{
    font-size: 150%;
    color: #FAFAFA;
    margin-left: 5%;
}

canvas{
    width: 50%;
}

/*Navigation bar*/

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

ul li {
	float: left;
}

ul li a {
	display: block;
	color: white;
	text-align: center;
    font-size: 150%;
	padding: 14px 16px;
	text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
ul li a:hover {
	background-color: #111;
}

/*Stock Content*/
.graphs {
    width: 100%;
    border-spacing: 3mm;
}

.graphs tr td {
    background-color: #4A2D7F;
}
.graphs tr .text{
    background-color: #111111;
}

.graphs tr .text .ID{
    font-size: 150%;
    color: #FAFAFA;
    margin-left: 5%;
}

.graphs tr .text .title{
    font-size: 250%;
}
.graphs tr .text label{
    font-size: 150%;
}

.active{
    background-color: #4F2D7F;
}

.search{
    width: 100%;
    color: white;
    font-size: 120%;
}


.search, th, td{
    border: inset 1px #111111;
}

a:link{
    color: white;
}

a:visited{
    color: #DDDDDD;
}

a:hover{
    color: #AAAAAA;
}

#symbols{
    width: 40%;
    background-color: #4A2D7F;
}

#names{
    width: 60%;
}

#profile{
    width: 100%;
}

#profile td{
    border: none;
}

#buttons td{
    padding: 2%;
}

#buttons td button{
    width: 40%;
}
